/* Remove controls from Firefox */
input[type=number] {
  appearance: textfield;
}

/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.contact {
  list-style: none;
}

.navbar {
  border-radius: 0;
}

/* Layers */

.station-list {
  position: absolute;
  z-index: 2;
  background: white;
  width: 400px;
  left: 50px;
  top: 60px;
}

.map-view .title-bar {
  z-index: 3;
  position: absolute;
  width: 100%;
}

.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.map-view .leaflet-container {
  top: 50px;
}

/* Layers end */

.station {
  padding: 10px;
}

.station:hover {
  background-color: #EEE;
}
.empty-project-list {
  font-size: 24px;
  text-align: center;
  margin-top: 10%;
}

.project-list .jumbotron {
  margin-top: 60px;
  height: 220px;
}

.start-create-project {
  width: 100px;
}


.project-wrap input[type="checkbox"] {
  margin-right: 2em;
}

.project-checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.project-item {
  width: 100%;
  margin-bottom: 16px;
  display: inline-block;
  position: relative;
  padding: 1em 1em;
  vertical-align: middle;
  border: #ddd 1px solid;
  border-radius: 5px;

  box-sizing: border-box;
}

.project-name {
  font-size: 2em;
  padding-bottom: .5em;
  word-wrap: break-word;
}

.project-close {
  position: absolute;
  right: 0;
  top: 10px;
  transform: rotate(40deg);
}

.project-content {
  margin-top: 60px;
}

.project-content .row {
  margin-top: 30px;
  margin-left: 0;
}

.project-content .contact-info {
  width: 40%;
  margin-bottom: 16px;
  display: inline-block;
  float: right;
  border: #eee 1px solid;
  border-radius: 6px;
}

.project-content .list-group {
  width: 55%;
  display: inline-block;
}

.project-content .btn-wrap {
  text-align: right;
  margin-bottom: 20px;
}

.project-content .station-list {
  position: relative;
}

.contact-header {
  padding: 16px 16px;
  border-bottom: #eee 2px solid;
}

.minimap {
  height: 200px;
}

.station-page {
  margin-top: 30px;
  max-width: 860px;
}

.batch-page {
  margin-top: 30px;
  max-width: 860px;
}

/* login page */

.login-btn {
  right: 8px;
  top: 8px;
  width: 80px;
  position: absolute;
  z-index: 2;
}

.login-wrap {
  width: 50%;
  margin: 100px auto;
}

.login-wrap .panel-heading {
  font-size: 30px;
}

.login-wrap .btn-wrap {
  text-align: center;
}

.login-wrap button {
  width: 100px;
  margin: 10px 30px;
}

.login-warning,
.help-block {
  color: #d9534f;
}

.pro-requirement,
.pro-activity {
  margin: 32px 16px;
}

.pro-requirement table {
  width: 80%;
  margin: 32px 0;
}

.nav-tabs {
  margin-top: 32px;
  border-bottom: 1px solid #337ab7;
}

.nav-tabs>li>a.active {
  color: #fff;
  background-color: #337ab7;
  border: solid 1px #337ab7;
}

/* details */
.icon {
  font-size: 36px;
  margin-top: 24px;
  color: #999;
}

.station-edit-desc {
  margin-top: 10px;
}

.provision-form .container {
  max-width: 860px;
}

.provision-form {
  max-width: 860px;
}

.batches-item {
  cursor: pointer;
}

.batches-item:hover {
  background-color: #eee;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.form-horizontal .control-label {
  text-align: left;
}

.manager-button-wrap {
  float: right;
  vertical-align: top;
  display: inline-block;
}

.manager-button {
  cursor: pointer;
}

.official-stations {
  max-height: 400px;
  overflow: scroll;
}

.official-total {
  font-size: 17px;
  font-weight: bold;
}

.provision-item {
  border-bottom: 1px solid #DDD;
  min-height: 130px;
}

.expired-warning {
  color: red;
  font-weight: bold;
}

.official-list {
  padding: 10px;
}

.modal-open .pac-container {
    z-index: 2000;
}

.station-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.provision-total-warning {
  color: red;
}

.provision-item .name {
  font-weight: bold;
  font-size: 1.2em;
}

.provision-items-row {
  margin-top: 20px;
}

.remain {
  font-weight: bold;
}

.diagram-description {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
  vertical-align: middle;
}

.diagram-description span {
  margin: 5px;
  line-height: 20px;
  vertical-align: middle;
}

.diagram-description i {
  font-size: 1.7em;
  vertical-align: middle;
}

.diagram-description .shipped {
  color: #5cb85c;
}

.diagram-description .promised {
  color: #f0ad4e;
}

.search-toolbar {
  float: right;
  margin-bottom: 32px;
  padding: 0;  
}

.not-received {
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
} 

