html, body, .map, .angular-leaflet-map {
  height: 100%;
}

.map {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-panel {
  z-index: 1;
  position: relative;
}

.get-started {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.get-started button {
  min-width: 8em;
  margin: 0.5em;
}

.medium-button {
  min-width: 8em;
}

.no-projects {
  height: 200px;
}

.projects-panel-content {
  min-height: 200px;
}

.half-panel {
  position: absolute;
  width: 500px;
  top: 50px;
  left: 50px;
}

@media (max-width: 600px) {
  .get-started {
    width: 100%;
    margin-top: 0;
  }

  .projects-panel {
    width: 100%;
    top: 0;
    left: 0;
  }
}

input.upload-photo {
  width: 1px;
  height: 1px;
}

.float {
  float: right;
  margin-top: -18px;
  margin-right: 20px;
}

.explained {
  width: 800px;
}
