<md-whiteframe class="get-started md-whiteframe-z1" layout>
  <md-content layout-fill>
    <md-toolbar class="md-theme-indigo md-default-theme">
      <h1 class="md-toolbar-tools">登入</h1>
    </md-toolbar>

    <form name="projectForm" ng-controller="LoginController">
      <md-content layout-margin>
        <md-input-container>
          <label>電子郵件</label>
          <input required ng-model="user.email">
        </md-input-container>
        <md-input-container>
          <label>密碼</label>
          <input required type="password" ng-model="user.password">
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="login()">登入</md-button>
          <md-button class="medium-button" ui-sref="signup">或 註冊</md-button>
        </section>
      </md-content>
    </form>
  </md-content>

</md-whiteframe>
