<div layout="column" ng-controller="LoginController" layout-align="center center">
  <div flex="33">
    <md-toolbar class="md-theme-indigo md-default-theme">
      <h1 class="md-toolbar-tools">Sign in</h1>
    </md-toolbar>

    <md-content class="md-padding">
      <form name="projectForm">
        <md-input-container>
          <label>E-mail</label>
          <input required name="email">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input required name="password">
        </md-input-container>
        <md-button class="md-raised">Sign in</md-button>
      </form>
    </md-content>
  </div>
</div>
