
<md-whiteframe class="get-started md-whiteframe-z1" layout>
  <md-content layout-fill>
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span>註冊</span>
      </h2>
    </md-toolbar>
    <form ng-controller="SignupController" name="userForm">
      <md-content layout-margin>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>姓氏</label>
            <input ng-model="user.lastName">
          </md-input-container>
          <md-input-container flex>
            <label>名字</label>
            <input ng-model="user.firstName">
          </md-input-container>
        </div>
        <md-input-container flex>
          <label>電子郵件</label>
          <input ng-model="user.email">
        </md-input-container>
        <md-input-container flex>
          <label>密碼</label>
          <input ng-model="user.password">
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="end center">
          <md-button ng-click="createUser()" class="md-raised md-primary">註冊帳號</md-button>
          <md-button ui-sref="login">或 登入</md-button>
        </section>
      </md-content>
    </form>
  </md-content>

</md-whiteframe>

