<md-whiteframe class="md-whiteframe-z1">
  <md-content class="half-panel" ng-class="{explained: explained}">
    <md-content class="project-panel-content" layout-margin layout-padding>
      <div layout="row">
        <div flex>
          <md-toolbar class="project-toolbar">
            <h2 class="md-toolbar-tools">
              <span flex>聯絡人資訊</span>
              <md-button ui-sref="projects">
                <md-tooltip>
                  Cancel
                </md-tooltip>
                <i class="mdi mdi--close"></i>
              </md-button>
            </h2>
          </md-toolbar>

          <div layout="column" layout-padding>
            <div layout="row" flex>
              <div flex ng-show="project.contactName">
                <i class="mdi mdi--person"></i> {{project.contactName}}
              </div>
              <div flex ng-show="project.contactPhone">
                <i class="mdi mdi--phone"></i>
                <a ng-href="tel:{{project.contactPhone}}">{{project.contactPhone}}</a>
              </div>
            </div>
            <div flex ng-show="project.contactEmail">
                <i class="mdi mdi--email"></i>
                <a ng-href="mailto:{{project.contactEmail}}">{{project.contactEmail}}</a>
            </div>
          </div>
          <div class="float">
            <button ng-click="explained = !explained" class="btn btn--m btn--blue btn--fab" lx-ripple><i class="mdi mdi--healing"></i></button>
          </div>
          <md-divider></md-divider>
          <md-list>
            <md-item ng-repeat="provision in project.provisions">
              <md-item-content>
                <div class="md-tile-left">
                    <img ng-src="{{provision.photos[0]}}">
                </div>
                <div class="md-tile-content">
                  <h3>{{provision.name}}</h3>
                  <md-progress-linear class="md-warn" md-mode="buffer"
                    value="{{provision.shippedQuantity/provision.totalQuantity*100}}"
                    md-buffer-value="{{(provision.promisedQuantity+donatedProvisions[$index].promisedQuantity)/provision.totalQuantity*100}}">
                  </md-progress-linear>
                </div>
              </md-item-content>
            </md-item>
          </md-list>
        </div>
        <div flex ng-show="explained">
          <div flex>
            這些物資預計
            <lx-dropdown>
                <button class="btn btn--s btn--blue btn--raised" lx-ripple lx-dropdown-toggle>
                    {{batch.estimate}}
                </button>
                <lx-dropdown-menu>
                    <ul>
                        <li ng-repeat="est in estimations" ng-click="batch.estimate = estimations[$index]"><a class="dropdown-link">{{est}}</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
            可以寄出完畢
          </div>
          <div flex>
            我想要捐⋯
            <form>
              <md-input-container ng-repeat="p in donatedProvisions">
                <label>
                  {{project.provisions[$index].name}}
                  <span ng-show="project.provisions[$index].unit">({{project.provisions[$index].unit}})</span>
                </label>
                <input type="number" ng-model="p.promisedQuantity">
              </md-input-container>
            </form>
          </div>
          <div flex>
            <button ng-click="donate()" class="btn btn--m btn--blue btn--raised" lx-ripple>捐贈</button>

          </div>
        </div>
      </div>
    </md-content>
  </md-content>
</md-whiteframe>
